<div class="d-flex align-items-start gap-3 p-3 border rounded shadow-sm catalog-item h-100">

    {% if volume.cover_url %}
        <img src="{{ volume.cover_url }}"
             alt="{{ volume.title }}"
             style="width:80px;height:auto;"
             class="rounded shadow-sm">
    {% else %}
        <div class="bg-light rounded d-flex align-items-center justify-content-center"
             style="width:80px;height:120px;">
            <i class="bi bi-book text-muted fs-2"></i>
        </div>
    {% endif %}

    <div class="flex-fill">
        <h6 class="mb-0">{{ volume.title }}</h6>


        <small class="text-muted">
            {% with w=volume.works.all|first %}
                {% if w %}
                    <span>{{ w.author }}</span>
                {% endif %}
            {% endwith %}
        </small><br>

        <small>
            <span>{{ volume.publisher }} ({{ volume.publication_year }})</span>
        </small><br>

        {% if volume.edition %}
            <small><span>{{ volume.edition }}</span></small><br>
        {% endif %}

        {% if volume.disposition %}
            <small>
                <span class="text-danger">THIS VOLUME NO LONGER IN COLLECTION</span>
            </small>
        {% endif %}
    </div>

</div>
