{% extends "_base.html" %}
{% load thumbnail %}
{% load md_tags %}

{% block title %}{{ book.title }}{% endblock title %}

{% block content %}
    <br>
    <h1 class="display-6"><i>{{ book.title }}{% if book.subtitle %}: {{ book.subtitle }}{% endif %}
    </i></h1>
    {% if book.collection %}
        <p>Part of the <a href={% url 'book_list_collection' book.collection.slug %}>{{ book.collection }}
            Collection</a></p>
    {% else %}
        <p></p>
    {% endif %}
    {% if book.book_spotlight %}
        <p>Spotlight on <a href="{% url 'book_spotlight' book.book_spotlight.pk %}">{{ book.book_spotlight }}</a></p>
    {% endif %}
    <div class="row">
        <div class="col-sm-7">
            <div class="card shadow">
                <div class="card-body">
                    <table class="table table-hover">
                        <colgroup>
                            <col style="width:0%">
                            <col style="width:35%;">
                            <col style="width:65%;">
                        </colgroup>
                        <thead>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="3" class="text-center display-8 fw-bold">Bibliographic Info</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td><b>Author:</b></td>
                            {% if book.author_id %}
                                {% if book.named_author != book.author.full_name %}
                                    <td><a href={% url "author_detail" book.author_id %}>{{ book.named_author }}
                                        ({{ book.author }})</a></td>
                                {% else %}
                                    <td><a href={% url "author_detail" book.author_id %}>{{ book.named_author }}</a>
                                    </td>
                                {% endif %}
                            {% else %}
                                <td>None</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td><b>Publisher:</b></td>
                            <td>{{ book.publisher }}</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td><b>Published Date:</b></td>
                            <td>{{ book.publication_date }}</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td><b>Number of Pages:</b></td>
                            <td>{{ book.number_of_pages }}</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td><b>ISBN 10:</b></td>
                            <td>{{ book.isbn_10 }}</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td><b>ISBN 13:</b></td>
                            <td>{{ book.isbn_13 }}</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td><b>Genres:</b></td>
                            <td>{% for genre in book.genres.all %}
                                {{ genre.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}</td>
                        </tr>
                        {% if book.google_info %}
                            <tr>
                                <th scope="row"></th>
                                <td><b>Google Book Listing:</b></td>
                                <td><a href="{{ book.google_info }}">{{ book.title }}</a></td>
                            </tr>
                        {% endif %}

                        {% if book.isbn_10 %}
                            <tr>
                                <th scope="row"></th>
                                <td><b>Open Library Listing:</b></td>
                                <td><a href="https://openlibrary.org/isbn/{{ book.isbn_10 }}">{{ book.title }}</a></td>
                            </tr>
                        {% elif book.isbn_13 %}
                            <tr>
                                <th scope="row"></th>
                                <td><b>Open Library Listing:</b></td>
                                <td><a href="https://openlibrary.org/isbn/{{ book.isbn_13 }}">{{ book.title }}</a></td>
                            </tr>
                        {% endif %}
                        {% if book.gutenburg_info %}
                            <tr>
                                <th scope="row"></th>
                                <td><b>Gutenburg Book Listing:</b></td>
                                <td><a href="{{ book.gutenburg_info }}">{{ book.title }}</a></td>
                            </tr>
                        {% endif %}
                        {% if book.notes %}
                            <tr>
                                <th scope="row"></th>
                                <td colspan="2"><b>Description:</b>&emsp;{{ book.notes|render_markdown }}</td>
                            </tr>
                        {% endif %}
                        {% if book.boxset %}
                            <tr>
                                <th scope="row"></th>
                                <td><b>Box Set:</b></td>
                                <td><a href="{% url 'boxset_detail' book.boxset.id %}">{{ book.boxset }}</a></td>

                            </tr>
                        {% endif %}
                        <tr>
                            <td colspan="3" class="display-8 fw-bold text-center">Condition and Collectibility</td>
                        </tr>

                        <tr>
                            <th scope="row"></th>
                            <td><b>Binding:</b></td>
                            <td>{{ book.get_binding_display }}</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td><b>Book Condition:</b></td>
                            <td>{{ book.get_condition_display }}</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td><b>Dust Jacket:</b></td>
                            <td>{{ book.dust_jacket|yesno:"Yes, No" }}</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td><b>Dust Jacket Condition:</b></td>
                            <td>{{ book.get_dust_jacket_condition_display }}</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td><b>Signed By Author:</b></td>
                            <td>{{ book.signed_by_author|yesno:"Yes, No" }}</td>
                        </tr>

                        <tr>
                            <th scope="row"></th>
                            <td><b>Collectibility Notes:</b></td>
                            <td>{{ book.collectibility_notes }}</td>
                        </tr>

                        <tr>
                            <th scope="row"></th>
                            <td><b>Estimated Value:</b></td>
                            {% if book.est_value %}
                                <td>${{ book.est_value }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td colspan="3" class="display-8 text-center fw-bold">Acquisition and Status</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td><b>Status:</b></td>
                            {% if book.status == "Inventory" %}
                                <td style="color: red">{{ book.status }}</td>
                            {% else %}
                                <td style="color: green">{{ book.status }}</td>
                            {% endif %}

                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td><b>Date Acquired:</b></td>
                            <td>{{ book.date_acquired }}</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td><b>Source:</b></td>
                            <td>{{ book.source }}</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td><b>Date Acquired:</b></td>
                            <td>{{ book.date_acquired }}</td>
                        </tr>
                        
{#                        Disposition Section#}
                        {% if user.is_authenticated %}
                            <tr>
                                <th scope="row"></th>
                                <td><b>Price:</b></td>
                                {% if book.price %}
                                    <td>${{ book.price }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td><b>Acquisition Cost:</b></td>
                                {% if book.acquisition_cost %}
                                    <td>${{ book.acquisition_cost }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td><b>Total Cost:</b></td>
                                {% if book.total_cost %}
                                    <td>${{ book.total_cost }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            </tr>

                            <tr>
                                <td colspan="3" class="display-8 text-center fw-bold">Disposition</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td><b>Disposition:</b></td>
                                <td>{{ book.disposition }}</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td><b>Disposition Date:</b></td>
                                <td>{{ book.disposition_date }}</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td><b>Recipient:</b></td>
                                <td>{{ book.recipient }}</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td><b>Sales Price:</b></td>
                                <td>{{ book.sales_price }}</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td><b>Shipping Charged:</b></td>
                                <td>{{ book.shipping_charged }}</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td><b>Shipping Cost:</b></td>
                                <td>{{ book.shipping_cost }}</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td><b>Total Sold Price:</b></td>
                                <td>{{ book.total_sold_price }}</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td><b>Profit/Loss:</b></td>
                                <td>{{ book.total_profit }}</td>
                            </tr>

                        {% endif %}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <p>{{ book.collectibility_notes }}</p>
            {% if not book.cover_image.image %}
                <a href={{ book.cover_id }}><img class="rounded img-fluid shadow p-3 mb-5 bg-white rounded"
                                                 style="width: 200px; height: auto;"
                                                 alt="Book Cover" src="{{ book.cover_id }}"/></a>
            {% endif %}
            {% thumbnail book.cover_image.image "600x600" as cover_thumb %}
                <img src="{{ cover_thumb.url }}"
                     alt="Book Cover"
                     class="thumbnail rounded img-fluid shadow p-3 mb-5 bg-white rounded"
                     style="width: 200px; height: auto;"
                     data-full="{{ book.cover_image.image.url }}">
            {% endthumbnail %}

            <br>
            {% for image in book.images.all %}
                {% if not image.is_cover %}
                    {% thumbnail image.image "200x200" as thumb %}
                        <img src="{{ thumb.url }}" alt="Thumbnail" class="thumbnail img-fluid shadow rounded p-2"
                             data-full="{{ image.image.url }}">
                    {% endthumbnail %}
                {% endif %}
            {% endfor %}
            <!-- Lightbox overlay -->
            <div id="lightbox" class="lightbox">
                <span class="close-btn">&times;</span>
                <img class="lightbox-content" id="lightbox-img">
                <a class="lightbox-prev">&#10094;</a>
                <a class="lightbox-next">&#10095;</a>
            </div>

        </div>
    </div>
    <br>
    {% if user.is_superuser %}
        <p><a href="{% url 'book_update' book.id %}" class="btn btn-primary">Update Book Info</a> &emsp;&emsp;
            <a href="{% url 'book_delete' book.id %}" class="btn btn-danger">Delete Book Info</a></p>
        <p><a href="{% url 'book_list_all' %}">Back to List</a></p>


        <a
                href="#"
                id="json-toggle"
                data-json-url="{% url 'book_json' object.pk %}"
                onclick="toggleJson(event)"
        >
            Show JSON
        </a>
        <br><br>
        <div id="json-container"></div>
    {% endif %}
    <script>
        function toggleJson(event) {
            event.preventDefault();
            const link = event.target;
            const container = document.getElementById("json-container");
            const isVisible = container.innerHTML.trim().length > 0;

            if (isVisible) {
                container.innerHTML = '';
                link.textContent = 'Show JSON';
            } else {
                fetch(link.dataset.jsonUrl)
                    .then(response => response.text())
                    .then(html => {
                        container.innerHTML = html;
                        link.textContent = 'Hide JSON';
                    })
                    .catch(error => {
                        container.innerHTML = '<pre>Error loading JSON</pre>';
                        console.error(error);
                    });
            }
        }
    </script>
    <br>
{% endblock content %}
{% block javascript %}
    {{ block.super }}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const thumbnails = document.querySelectorAll('.thumbnail');
            const lightbox = document.getElementById('lightbox');
            const lightboxImg = document.getElementById('lightbox-img');
            const closeBtn = document.querySelector('.close-btn');
            const nextBtn = document.querySelector('.lightbox-next');
            const prevBtn = document.querySelector('.lightbox-prev');

            let currentIndex = -1;
            const images = Array.from(thumbnails);

            function showImage(index) {
                const img = images[index];
                if (img) {
                    lightboxImg.src = img.dataset.full;
                    lightbox.style.display = 'flex';
                    document.body.style.overflow = 'hidden';
                    currentIndex = index;
                }
            }

            images.forEach((img, index) => {
                img.addEventListener('click', () => {
                    showImage(index);
                });
            });

            closeBtn.addEventListener('click', () => {
                lightbox.style.display = 'none';
                document.body.style.overflow = '';
            });

            lightbox.addEventListener('click', (e) => {
                if (e.target === lightbox) {
                    lightbox.style.display = 'none';
                    document.body.style.overflow = '';
                }
            });

            nextBtn.addEventListener('click', (e) => {
                e.stopPropagation();
                showImage((currentIndex + 1) % images.length);
            });

            prevBtn.addEventListener('click', (e) => {
                e.stopPropagation();
                showImage((currentIndex - 1 + images.length) % images.length);
            });

            // Optional: keyboard controls
            document.addEventListener('keydown', (e) => {
                if (lightbox.style.display === 'flex') {
                    if (e.key === 'ArrowRight') {
                        showImage((currentIndex + 1) % images.length);
                    } else if (e.key === 'ArrowLeft') {
                        showImage((currentIndex - 1 + images.length) % images.length);
                    } else if (e.key === 'Escape') {
                        lightbox.style.display = 'none';
                        document.body.style.overflow = '';
                    }
                }
            });
        });
    </script>

{% endblock javascript %}
