{% extends "_base.html" %}



{% block content %}
    <br>
    <h1 class="display-5 text-center mb-4">Authors</h1>

    {#    {% for author in authors_display %}#}
    {#        <h1 class="display-8 "><a href="#">{{ author }}</a></h1>#}
    {#    {% endfor %}#}
    {#    #}

    {#    <div class="container">#}
    {#        {% for author in authors_display %}#}
    {#            <a href="#" class="btn btn-outline-secondary m-2">{{ author }}</a><br>#}
    {#        {% endfor %}#}
    {#    </div>#}

    <div class="list-group shadow-sm">
        {% for author in authors_display %}
            <a href="{% url 'author_detail' author.pk %}"
               class="list-group-item list-group-item-action d-flex align-items-start gap-3 catalog-item">
                {#                {% if volume.cover_url %}#}
                {#                    <img src="{{ volume.cover_url }}" alt="{{ volume.title }}" style="width:80px;height:auto;"#}
                {#                         class="rounded shadow-sm">#}
                {#                {% else %}#}
                <div class="me-3 d-flex align-items-center justify-content-center bg-light border rounded text-muted"
                     style="width:60px; height:90px; font-size:.8em;">
                    No<br>Image
                </div>
                {#                {% endif %}#}
                <div class="flex-fill">
                    <h6 class="mb-0">{{ author.full_name }}</h6>
                    <small class="text-muted">{{ author.nationality }}</small><br>
                    <small>{{ author.dob.year }} - {{ author.dod.year }}</small><br>
                </div>
            </a>
        {% endfor %}
    </div>



{% endblock content %}

