{% extends "_base.html" %}

{% block content %}

    <br><br>
    <h1 class="text-center display-6">{{ bookshelf.name }} Bookshelf</h1>
    <p class="text-center">{{ bookshelf.description }}</p>

    <div class="row g-3">

        {% for volume in page_obj %}
            <div class="col-md-6 col-lg-4">
                <a href="{% url 'volume_detail' volume.pk %}"
                   class="text-decoration-none text-reset">
                    {% include "partials/volume_card.html" %}
                </a>
            </div>
        {% endfor %}
    </div>
    {% if is_paginated %}
        <nav>
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}&view={{ view }}&sort={{ sort }}&dir={{ dir }}">Prev</a>
            {% endif %}

            &emsp;Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}&emsp;

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&view={{ view }}&sort={{ sort }}&dir={{ dir }}">Next</a>
            {% endif %}
        </nav>
    {% endif %}

    <br>
    {% if user.is_authenticated %}
        <a href="{% url 'bookshelf_update' bookshelf.pk %}" class="btn btn-primary">Update</a>
    {% endif %}
    <br><br>




{% endblock content %}