{% extends "_base.html" %}

{% block content %}

    <br><br>
    <h1 class="text-center display-6">{{ bookshelf.name }} Bookshelf</h1>
    <p class="text-center">{{ bookshelf.description }}</p>

    <div class="row g-3">

    {% for volume in bookshelf.volumes.all %}
        <div class="col-md-6 col-lg-4">
            <a href="{% url 'volume_detail' volume.pk %}"
               class="text-decoration-none text-reset">
                {% include "partials/volume_card.html" %}
            </a>
        </div>
    {% endfor %}
</div>

    <br>
    {% if user.is_authenticated %}
        <a href="{% url 'bookshelf_update' bookshelf.pk %}" class="btn btn-primary">Update</a>
    {% endif %}
    <br><br>




{% endblock content %}