{% extends "_base.html" %}

{% block content %}
    <br>
    <h1 class="display-5 text-center mb-4">Everything</h1>
    
    {% for item in items %}
        <div class="catalog-item">
            {% if item.kind == "BookSet" %}
                <h2>{{ item.title }}
                    <small>(Set)</small>
                    {% with first_author=item.volumes.all.0.works.all.0.author %}
                        {% if first_author %}
                            <span class="text-muted" style="font-size:.85em;">by {{ first_author }}</span>
                        {% endif %}
                    {% endwith %}
                </h2>
            {% else %}
                <h2>{{ item.title }}
                    <span class="text-muted" style="font-size:.85em;">by {{ item.author }}</span>
                </h2>
            {% endif %}

            <ul class="list-unstyled">
                {% for volume in item.volumes.all %}
                    <li>
                        <a href="{% url 'volume_detail' volume.pk %}" style="font-style: italic;">{{ volume }}</a>
                        <small class="text-muted">
                            {% if volume.edition %}
                                ({{ volume.publication_year }}, {{ volume.edition }})
                            {% else %}
                                ({{ volume.publication_year }})
                            {% endif %}
                        </small>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endblock content %}

