{% extends "_base.html" %}
{% load thumbnail %}
{% load md_tags %}
{% block content %}
    <br>
    <h1 class="text-center">{{ work.title }}</h1>
    <br>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">Author:</div>
                        <div class="col-md-8"><a
                                href="{% url 'author_detail' work.author.pk %}">{{ work.author }}</a></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">First Published:</div>
                        <div class="col-md-8">{{ work.first_published|default:"" }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Work Type:</div>
                        <div class="col-md-8">{{ work.get_work_type_display }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Genre(s):</div>
                        <div class="col-sm-8">
                            {% for genre in work.genre.all %}
                                {{ genre }}{% if not forloop.last %}<br>
                                {% endif %}
                            {% empty %}
                                <span class="text-muted">No associated genre</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    Appears In:<br>
                    {% for volume in work.volumes.all %}
                        <a href="{% url 'volume_detail' volume.pk %}">{{ volume.title }}</a>
                        ({{ volume.publication_year }}) {{ volume.edition|default:"" }}<br>
                    {% endfor %}
                </div>
            </div>
        </div>
    <div class="row">
        <div class="row">
                    <p>{{ work.work_notes_html|safe }}</p>
            </div>
    </div>
    <div class="row">{{ work.work_text_html|safe}}</div>

    </div>
{% if user.is_authenticated %}
        <a href="{% url 'work_update' work.pk %}" class="btn btn-primary">Update</a>
    {% endif %}
    <br>




{% endblock content %}



